# Python
__pycache__/
*.pyc
venv/
.venv/

observation/samples/raw_event_logs/*.json
observation/samples/event_logs_by_policy/*.jsonl
observation/samples/unified_events/*.jsonl
observation/samples/dispatcher.log
observation/samples/collectors_events/*.jsonl

!observation/samples/raw_event_logs/.gitkeep
!observation/samples/event_logs_by_policy/.gitkeep
!observation/samples/unified_events/.gitkeep
!observation/samples/collectors_events/.gitkeep

# OS
.DS_Store
observation/samples/collectors_events/dns_events.jsonl
